*{
  margin: 0vw;
  font-family: Verdana, sans-serif;
}

a:visited{
  color: black;
}

.back{
  text-decoration: none;
  font-size: 5vw;
  border: solid;
  padding: 1.5vw 2vw;
  border-radius: 4vw;
  background-color: #D4D4D5;
  position:fixed;
  top: 3vw;
  left: 3vw
}

h1{
  position: relative;
  text-align: center;
  color: white;
  padding-top: 20vw;
  font-size: 10vw;
  padding-bottom: 3.5vh;
  border-bottom: solid black;
  background-color: #6986BA;
}
ul{
  list-style-type:none;
  padding-top: 5vh;
  font-size: 5vw;
  padding-left: 7vw;
}
li{
  padding-top: 5vh;
}
select{
  width: 80vw;
  font-size: 5vw;
  border: solid;
}
button{
  font-size: 6vw;
  padding: 2vw;
  border-radius: 3vw;
  background-color: #4483CB;
}
.config{
  text-align: center;
  padding-top: 10vh;
}
.select-selected {
  background-color: DodgerBlue;
}
