*{
  margin: 0vw;
  font-family: Verdana, sans-serif;
}

a:visited{
  color: black;
}

.back{
  text-decoration: none;
  font-size: 7vw;
  padding: 1vw 1.5vw;
  border: solid;
  position:fixed;
  top: 5vw;
  left: 3vw;
  background-color: white;
  border-radius: 3vw;
}

h1{
  position: relative;
  text-align: center;
  color: white;
  padding-top: 20vw;
  font-size: 10vw;
  padding-bottom: 3.5vh;
  border-bottom: solid black;
  background-color: #6986BA;
}
/* THIS STYLES THE TABLE: */
#events {
  border-collapse: collapse;
  font-size: 4.5vw;
  border-top: solid;
  border-bottom: solid;
  overflow-y:scroll;
  height: 63vh;
  display:block;
  width: 100vw;
  text-align: center;
}
#events td{
  border: 0vw solid #ddd;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  padding-left: 2vw;
  border: solid grey;
}
#events th{
  font-size: 5vw;
  width: 100vw;
}
.overview > a{
  background-color: #FFD800;
  text-decoration: none;
  font-size: 3.5vw;
  border-radius: 3vw;
  border: solid black;
  padding: 1vw;
    text-transform: uppercase;
}
#events tr:nth-child(even){background-color: #f2f2f2;}
#events tr:hover {background-color: #ddd;}

.navigation{
  display: grid;
  grid-template-columns: 50vw 50vw;
  grid-template-rows: auto;
  padding-top: 5vh;
  text-align: center;
}
.addAss{
    padding-left: 2vw;
  grid-area: 1 / 1 / 2 / 2;
}
.setReminder{
  grid-area: 1 / 2 / 2 / 3;
}
.setReminder > a, .addAss > a{
  text-decoration: none;
  font-size: 5vw;
  border-radius: 3vw;
  border: solid black;
  padding: 2.5vw;
  background-color: #6986BA;
  color: white;
}
